<!-- Config file for the game -->

<config>
  <app framerate_cap ="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <render_scale value="3"/>
  </window>
  <audio>
    <path value ="audio/music/Mega_Rust.ogg" />
  </audio>
  <audio2>
    <button_path value="audio/fx/button_fx.wav"/>
  </audio2>
  <file_system>
    <path>data.zip</path>
  </file_system>
  <entities>
    <folder path="textures/Sasuke_sprites.png" ></folder>
    <folder path="textures/Gaara_sprites.png" ></folder>
  </entities>
  <map>
    <folder>maps/</folder>
  </map>
  <languages>
    <language value ="English"/>
  </languages>
  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>

</config>